// resolution
$mobile: 767px;
$tablet-min: 600px;
$tablet: 768px;
$tablet2: 769px;
$tablet-max: 1023px;
$desktop-min: 1024px;

// colors
$dark: #0B0D17;
$darkgray: #383B4B;
$light: #fff;
$accent: #D0D6F9;

// font-family
$serif: 'Bellefair', serif;
$sansCond: 'Barlow Condensed', sans-serif;
$sansNormal: 'Barlow', sans-serif;

$h1-desk: 9.375rem;
$h1-mobile: 5rem;
$h2-desk: 1.75rem;
$h2-tablet: 1.25rem;
$h2-mobile: 1rem;
$text: 18px;
